<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompositeSmsGatewayServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.asanak.ir:8082/services/CompositeSmsGateway"
                binding="basicHttpBinding" bindingConfiguration="CompositeSmsGatewayServiceSoapBinding"
                contract="AsanakProvider.CompositeSmsGateway" name="CompositeSmsGateway" />
        </client>
    </system.serviceModel>
</configuration>
